
/* Body */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

img {
  height: 200px;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #F4A261;
}

/* Nav */
nav {
  border-bottom: 8px solid #E76F51;
  padding: 16px;
  background-color: #2a9d8f;
}

nav a {
  color: white;
}

/* Main */
main {
  padding: 16px;
  margin-bottom: 16px;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 48px;
}

/* List Section */
.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.list a {
  color: #F4A261;
  font-weight: bold;
}

/* Ingredients Table */
#ingredients-table {
  border-collapse: collapse;
}

#ingredients-table tr:nth-child(even) {
  background-color: lightgray;
}

/* Footer */
footer {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  /* position: absolute; */
  bottom: 10px;
  font-size: large;
  background-color: #264653;
  color: white;
}
